version: "3.9"

services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - VERSION=docker
      - PLEX_CLAIM=${PLEX_CLAIM}
    volumes:
      - plex_config:/config
      - /share/media/movies:/movies
      - /share/media/tv:/tv
      - /share/media/xxx:/xxx
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 6G
        reservations:
          memory: 1G

volumes:
  plex_config:
