---
- name: Create VM {{ item.name }} if it does not exist
  block:
    - name: Clone template to new VM {{ item.name }}
      command: >-
        qm clone {{ template_vm_id }} {{ item.vm_id }} 
        --name "{{ item.name }}" 
        --full 
        --storage "{{ item.disk_storage }}"
      delegate_to: "{{ inventory_hostname }}"

    - name: Configure hardware for {{ item.name }}
      command: "qm set {{ item.vm_id }} --memory {{ item.memory }} --cores {{ item.cores }}"
      delegate_to: "{{ inventory_hostname }}"

    - name: Configure network for {{ item.name }}
      command: "qm set {{ item.vm_id }} --ipconfig0 'ip={{ item.ipv4_address }},gw={{ item.ipv4_gateway }}'"
      delegate_to: "{{ inventory_hostname }}"

    - name: Configure VLAN for {{ item.name }}
      command: "qm set {{ item.vm_id }} --net0 virtio,bridge=vmbr0,tag={{ item.vlan | default(default_vlan) }}"
      delegate_to: "{{ inventory_hostname }}"

    - name: Resize disk for {{ item.name }}
      command: "qm resize {{ item.vm_id }} scsi0 {{ item.disk_size }}"
      delegate_to: "{{ inventory_hostname }}"

    - name: Start VM {{ item.name }}
      command: "qm start {{ item.vm_id }}"
      delegate_to: "{{ inventory_hostname }}"
  when: item.vm_id | string not in existing_vms.stdout_lines