---
- name: Ensure Wallos data directories exist
  ansible.builtin.file:
    path: "{{ cephfs_mount_point }}/docker-shared-data/wallos/{{ item }}"
    state: directory
    owner: "{{ admin_user }}"
    group: "{{ admin_user }}"
    mode: '0755'
  loop:
    - db
    - logos
  when: install_cephfs | default(false) | bool
