---
- name: Locale setup
  include_tasks: locale_setup.yml
  tags: [always, locale]

- name: User management
  include_tasks: user_management.yml
  tags: [always, users]

- name: System updates
  include_tasks: system_update.yml
  tags: [always, system, updates]

- name: Package installation
  include_tasks: package_installation.yml
  tags: [always, packages]

- name: LVM volume group creation
  include_tasks: storage_setup.yml
  tags: [storage, lvm]
  when: install_storage | default(false) | bool

- name: LVM management tools
  include_tasks: lvm_management.yml
  tags: [storage, lvm]

- name: Python setup
  include_tasks: python_setup.yml
  tags: [always, python]

- name: Docker setup
  include_tasks: docker_setup.yml
  tags: [docker]
  when: install_docker | default(true) | bool

- name: ZSH setup
  include_tasks: zsh_setup.yml
  tags: [zsh]
  when: install_zsh | default(true) | bool

- name: SSH banner setup
  include_tasks: ssh_banner_setup.yml
  tags: [ssh, banner]
  when: install_ssh_banner | default(true) | bool

- name: CephFS mount setup
  include_tasks: ceph_setup.yml
  tags: [storage, ceph]
  when: install_cephfs | default(false) | bool

- name: Application Data Directories
  include_tasks: app_data_setup.yml
  tags: [storage, apps]
  when: install_cephfs | default(false) | bool

- name: NFS mount setup
  include_tasks: nfs_mounts.yml
  tags: [storage, nfs]
  when: install_nfs_mounts | default(false) | bool
