---
global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: INFO

accesslog: {}

ping:
  entryPoint: ping

api:
  dashboard: true
  insecure: true

metrics:
  prometheus:
    entryPoint: metrics
    addRoutersLabels: true

entryPoints:
  ping:
    address: :8082
  metrics:
    address: :9090
  web:
    address: :80
  websecure:
    address: :443

certificatesResolvers:
  cloudflare:
    acme:
      email: "${CF_API_EMAIL}"
      storage: /var/traefik/certs/acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - 1.1.1.1:53
          - 8.8.8.8:53

tls:
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256

providers:
  swarm:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: proxy_net
  file:
    directory: /etc/traefik/files
    watch: true
