version: "3.9"

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    networks:
      - proxy
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    command: tunnel run
    deploy:
      mode: replicated
      replicas: 2
      placement:
        constraints:
          - node.role == manager # Optional: Managers usually have stable outgoing connections
      restart_policy:
        condition: on-failure

networks:
  proxy:
    external: true
