version: "3.9"

services:
  tailscale:
    image: tailscale/tailscale:v1.78.1
    container_name: tailscale
    hostname: ${HOSTNAME}
    network_mode: host
    privileged: true
    volumes:
      - tailscale_state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    environment:
      - TZ=${TZ}
      - TS_AUTH_ONCE=true
      - TS_USERSPACE=false
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_KUBE_SECRET=
      - TS_SSH_ENABLED=true
      - TS_AUTH_KEY=${TS_AUTH_KEY}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "tailscale", "status"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 30s

volumes:
  tailscale_state:
    driver: local
