# Default variables for common_base role

# Whether to disable IPv6 on all interfaces
disable_ipv6: false

# User Configuration
admin_user: fs
secondary_user: hacstac
ssh_public_key_path: "~/.ssh/fs_home_rsa.pub" # Adapted to user's likely key based on config

# Feature Flags
install_neovim: true
install_zsh: true
install_docker: true
create_homelab_structure: true

# Basic System Packages (Merged from source + existing)
basic_packages:
  - zsh
  - git
  - wget
  - curl
  - keychain
  - vim
  - build-essential
  - zip
  - make
  - gcc
  - bash
  - bc
  - ca-certificates
  - iputils-ping
  - jq
  - less
  - libperl-dev
  - libxml2-utils
  - openssh-client
  - parallel
  - perl
  - time
  - unzip
  - lvm2
  - dnsutils
  - net-tools
  - qemu-guest-agent
  - apt-transport-https
  - gnupg
  - htop
  - lsb-release

# Neovim Dependencies
neovim_dependencies:
  - golang
  - ninja-build
  - gettext
  - libtool
  - libtool-bin
  - autoconf
  - automake
  - cmake
  - g++
  - pkg-config
  - curl
  - doxygen

# Python Packages
role_pip_packages:
  - setuptools
  - pynvim
  - github3.py
