version: "3.9"

services:
  nginx:
    image: nginx:latest
    deploy:
      mode: replicated
      replicas: 3
      placement:
        constraints:
          - node.role == manager
    # ports:
    #   - "8080:80"
    ports:
      - target: 80
        published: 8080
        mode: host