#?  https://doc.traefik.io/traefik/v1.7/user-guide/swarm-mode/

version: "3"
services:
  traefik:
    image: traefik:v3.6.5
    command:
      - "--api"
      - "--entrypoints=Name:http Address::80 Redirect.EntryPoint:https"
      - "--entrypoints=Name:https Address::443 TLS"
      - "--defaultentrypoints=http,https"
      - "--acme"
      - "--acme.storage=/etc/traefik/acme/acme.json"
      - "--acme.entryPoint=https"
      - "--acme.httpChallenge.entryPoint=http"
      - "--acme.onHostRule=true"
      - "--acme.onDemand=false"
      - "--acme.email=${CF_API_EMAIL}"
      - "--docker"
      - "--docker.swarmMode"
      - "--docker.domain=${DOMAIN_EXTERNAL}"
      - "--docker.watch"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - webgateway
      - traefik
    ports:
      - target: 80
        published: 80
        mode: host
      - target: 443
        published: 443
        mode: host
      - target: 8080
        published: 8080
        mode: host
    deploy:
      mode: global
      placement:
        constraints:
          - node.role == manager
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
networks:
  #? created outside of this compose file with
  #?  "docker network create --driver=overlay webgateway --attachable"
  webgateway:
    driver: overlay
    external: true
  traefik:
    driver: overlay