version: "3.9"

services:
  whoami:
    image: traefik/whoami
    networks:
      - proxy
    deploy:
      replicas: 3
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.whoami.rule=Host(`whoami.${DOMAIN}`)"
        - "traefik.http.routers.whoami.entrypoints=websecure"
        - "traefik.http.routers.whoami.tls.certresolver=cloudflare"
        - "traefik.http.services.whoami.loadbalancer.server.port=80"

        # Homepage Discovery
        - "homepage.group=Test"
        - "homepage.name=Whoami"
        - "homepage.icon=sh-basic-memory.png"
        - "homepage.href=https://whoami.${DOMAIN}"
        - "homepage.description=Test Application"

networks:
  proxy:
    external: true
