version: "3.9"

services:
  whoami:
    image: traefik/whoami
    networks:
      - traefik-public
    deploy:
      replicas: 3
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.whoami.rule=Host(`whoami.${DOMAIN}`)"
        - "traefik.http.routers.whoami.entrypoints=websecure"
        - "traefik.http.routers.whoami.tls.certresolver=cloudflare"
        - "traefik.http.services.whoami.loadbalancer.server.port=80"

networks:
  traefik-public:
    external: true
