---
# Traefik configuration for Dokploy
global:
  checkNewVersion: true
  sendAnonymousUsage: false

log:
  level: INFO
  format: common

accessLog:
  format: common

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false
    network: dokploy-network
  file:
    directory: /etc/dokploy/traefik/dynamic
    watch: true

api:
  dashboard: true
  insecure: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: /etc/dokploy/traefik/acme.json
      httpChallenge:
        entryPoint: web
