{
  "mtu": {{ docker_mtu }},
  "hosts": [
    "tcp://{{ docker_tcp_bind_ip }}:2376",
    "unix:///var/run/docker.sock"
  ],
  "log-driver": "{{ docker_log_driver }}",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  },
  "storage-driver": "{{ docker_storage_driver }}",
  "live-restore": {{ docker_live_restore | lower }},
  "userland-proxy": {{ docker_userland_proxy | lower }},
  "default-address-pools": [
    {
      "base": "{{ docker_swarm_subnet }}",
      "size": {{ docker_swarm_subnet_size }}
    }
  ]
}
